@charset "UTF-8";
/* font-family */
/* Color */
/* font-weight */
/* size */
html:focus-within {
  scroll-behavior: auto;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  color: #817878;
  font-size: 1rem;
  max-width: 1900px;
}

.container {
  overflow-x: hidden;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: unset;
}

li {
  list-style: none;
}

button {
  border: unset;
  background-color: unset;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  margin: 0;
}

/* mixin */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* mixin */
.l-header {
  z-index: 1000;
  top: 0;
}
.l-header__inner {
  width: 80vw;
  margin: 0 10vw 0 10vw;
}
@media screen and (min-width: 1200px) {
  .l-header__inner {
    width: 10vw;
    margin: 0 0 0 5rem;
    position: static;
  }
}

/* font-family */
/* Color */
/* font-weight */
/* size */
.l-main {
  position: absolute;
  margin-top: 10rem;
  z-index: 500;
  width: 50vw;
  top: 0;
  left: 25%;
}
@media screen and (min-width: 400px) {
  .l-main {
    width: 400px;
    left: calc((100vw - 400px) * 0.5);
  }
}

/*

100vw = 820px = 400px + (210px * 2)
100vw = 1000px = 400px + (300px * 2)
100vw = 1200px = 400px + (400px * 2)

*/
.l-primary {
  width: 100vw;
  position: relative;
  margin-top: -1rem;
}

.c-margin-center {
  margin: auto;
}

.c-modal-window {
  display: none;
  position: fixed;
  /* 閉じるボタン */
}
.c-modal-window__button-open {
  display: block;
  cursor: pointer;
}
.c-modal-window__button-close {
  margin: 2rem 2rem 1rem 2rem;
  width: 200px;
  padding: 1em;
  background-color: #c96931;
  color: #eaeaea;
  border-radius: 20rem;
  cursor: pointer;
}

.c-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2100;
}

.c-shadow {
  text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.c-space-wide {
  transform: translateX(-25%);
  width: 100vw;
}
@media screen and (min-width: 400px) {
  .c-space-wide {
    transform: translateX(0);
    width: 400px;
  }
}

/*
400px  transitionX(-25%    = 100px)  * -4  *4
500px  transitionX(-19%    = 95px )  * -5  *5
600px  transitionX(-12.5%  = 75px)   * -6
700px  transitionX(-5%     = 35px)   * -5
800px  transitionX(0       = 0px)    * 0


100vw  
*/
.c-hamburger {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .c-hamburger {
    display: none;
  }
}
.c-hamburger > span {
  display: block;
  width: 20px;
  height: 2px;
  font-size: 0;
  background: linear-gradient(to right, #000, #000) repeat-x #000;
  background-size: auto 2px;
  position: absolute;
  left: calc(50% - 20px/2);
  top: 50%;
  transition: transform 0.2s;
}
.c-hamburger > span::before, .c-hamburger > span::after {
  background: #000;
  position: absolute;
  display: block;
  transition: transform 0.2s;
}
.c-hamburger > span::before {
  top: 22px;
}
.c-hamburger > span::after {
  top: 38px;
}
.c-hamburger.is-open::before {
  transform: rotate(45deg);
  top: 28px;
}
.c-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 28px;
}
.c-hamburger.is-open > span {
  background: none;
}

body.is-open {
  position: fixed;
}

.c-text-small {
  font-size: 0.7rem;
  text-align: center;
}
.c-text-small--white {
  color: #fff;
  font-weight: 300;
}

.c-text {
  font-family: "Noto Sans JP", sans-serif;
}
.c-text--sentence {
  font-size: 1rem;
  color: #000;
}
.c-text--link {
  line-height: 2;
  border-bottom: 1px solid;
}

.c-title--section {
  color: #817878;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.c-title--content {
  font-size: 1.2rem;
}
.vertical-title {
  color: red;
}

.c-contact {
  display: block;
}

.c-to-top .-image1 {
  position: relative;
  opacity: 1;
}
.c-to-top .-image2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.c-to-top .-image3 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

@keyframes run1 {
  from {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes run2 {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes run3 {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.c-background-footer {
  background-image: url(../../../../img/tree-woods.jpg);
  background-position: center center;
}

.c-background-opacity {
  background-color: rgba(255, 255, 255, 0.8);
  filter: brightness(1.05);
}

.c-background-opacity {
  background-color: #FFF;
}

.p-animation-background {
  overflow: hidden;
  height: 3076px;
  max-width: 1920px;
}
.p-animation-background__layer {
  position: relative;
  margin-left: calc((100% - 1900px) * 0.5);
  transition: all 1s ease-in;
}
.p-animation-background__layer .layer-1 {
  position: absolute;
  display: block;
  width: 1920px;
  height: 3076px;
  background-size: cover;
  background-image: url(../../../img/yama-base.jpg);
  background-position: center;
  z-index: 200;
}
.p-animation-background__layer .layer-2 {
  position: absolute;
  display: block;
  width: 1585px;
  height: 681px;
  background-size: cover;
  background-image: url(../../../img/yama-front@0.75x.png);
  background-position: center;
  z-index: 200;
}
.p-animation-background__layer .layer-2.lower {
  /* margin-top: 2360px; */
  transition: 0.5s;
}
.p-animation-background__layer .layer-2.upper {
  /* margin-top: 2692px; */
  transition: 0.5s;
}
.p-animation-background__layer .layer-4 {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 1450px;
  left: 500px;
  background-image: url(../../../img/cloud-single.png);
  display: block;
  z-index: 300;
  opacity: 1;
  animation: gradually2 15s ease-in-out infinite;
}
.p-animation-background__layer .layer-5 {
  position: absolute;
  top: 1720px;
  left: 190px;
  background-image: url(../../../img/名称未設定\ 2\ \(2\).png);
  display: block;
  height: 500px;
  width: 1500px;
  z-index: 300;
  opacity: 1;
  background-repeat: no-repeat;
  filter: blur(2px) brightness(100%);
  animation: gradually 24s ease-in-out infinite;
}
.p-animation-background__layer .layer-6 {
  position: absolute;
  top: 2300px;
  left: 2000px;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(10px) brightness(100%);
  display: block;
  height: 150px;
  width: 100px;
  transform: skew(142deg, 23deg);
  z-index: 300;
  animation: sun-light 18s 0s ease-out infinite;
}
.p-animation-background__layer .layer-7 {
  position: absolute;
  top: 2300px;
  left: 1800px;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(10px) brightness(100%);
  display: block;
  height: 150px;
  width: 100px;
  transform: skew(142deg, 23deg);
  z-index: 300;
  animation: sun-light2 14.4s 0s ease-out infinite;
}
.p-animation-background__layer .layer-8 {
  position: absolute;
  top: 2300px;
  left: 1600px;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(10px) brightness(100%);
  display: block;
  height: 150px;
  width: 100px;
  transform: skew(142deg, 23deg);
  z-index: 300;
  animation: sun-light3 10.8s 0s ease-out infinite;
}
.p-animation-background__child {
  position: relative;
}
.p-animation-background__child .layer-9 {
  position: absolute;
  top: 5rem;
  left: 30%;
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-image: url(../../../img/cloud-highest.png);
  z-index: 400;
  transition: all 4S 0s ease-in-out;
}
@media screen and (min-width: 820px) {
  .p-animation-background__child .layer-9 {
    left: 40%;
  }
}
.p-animation-background__child .layer-10 {
  position: absolute;
  display: block;
  top: 30vh;
  left: -45%;
  width: 30rem;
  height: 16rem;
  background-size: cover;
  background-image: url(../../../img/cloud-middle-flont.png);
  background-repeat: no-repeat;
  z-index: 400;
  opacity: 1;
  transition: left 8S 0s ease-in-out;
}
.p-animation-background__child .layer-10.fixed {
  position: fixed;
  left: -45%;
  top: 30vh;
}
@media screen and (min-width: 820px) {
  .p-animation-background__child .layer-10 {
    left: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .p-animation-background__child .layer-10 {
    left: 10%;
  }
}
.p-animation-background__child .layer-11 {
  position: absolute;
  display: block;
  left: 40%;
  width: 60rem;
  height: 30rem;
  background-size: cover;
  background-image: url(../../../img/cloud-middle2.png);
  z-index: 300;
  transition: left 8S 0s ease-in-out;
}
.p-animation-background__child .layer-11.fixed {
  position: fixed;
  left: -45%;
}
@media screen and (min-width: 820px) {
  .p-animation-background__child .layer-11 {
    left: 25%;
  }
}
@-webkit-keyframes sun-light {
  from {
    left: 2000px;
    opacity: 1;
    width: 100px;
    transform: skew(142deg, 23deg);
  }
  90% {
    opacity: 0.7;
  }
  to {
    left: 1000px;
    opacity: 0;
    width: 50px;
    transform: skew(120deg, 23deg);
  }
}
@keyframes sun-light {
  from {
    left: 2000px;
    opacity: 1;
    width: 100px;
    transform: skew(142deg, 23deg);
  }
  90% {
    opacity: 0.7;
  }
  to {
    left: 1000px;
    opacity: 0;
    width: 50px;
    transform: skew(120deg, 23deg);
  }
}
@-webkit-keyframes sun-light2 {
  from {
    left: 1800px;
    opacity: 1;
    width: 100px;
    transform: skew(142deg, 23deg);
  }
  90% {
    opacity: 0.7;
  }
  to {
    left: 1000px;
    opacity: 0;
    width: 50px;
    transform: skew(120deg, 23deg);
  }
}
@keyframes sun-light2 {
  from {
    left: 1800px;
    opacity: 1;
    width: 100px;
    transform: skew(142deg, 23deg);
  }
  90% {
    opacity: 0.7;
  }
  to {
    left: 1000px;
    opacity: 0;
    width: 50px;
    transform: skew(120deg, 23deg);
  }
}
@-webkit-keyframes sun-light3 {
  from {
    left: 1600px;
    opacity: 1;
    width: 100px;
    transform: skew(142deg, 23deg);
  }
  90% {
    opacity: 0.7;
  }
  to {
    left: 1000px;
    opacity: 0;
    width: 50px;
    transform: skew(120deg, 23deg);
  }
}
@keyframes sun-light3 {
  from {
    left: 1600px;
    opacity: 1;
    width: 100px;
    transform: skew(142deg, 23deg);
  }
  90% {
    opacity: 0.7;
  }
  to {
    left: 1000px;
    opacity: 0;
    width: 50px;
    transform: skew(120deg, 23deg);
  }
}
@-webkit-keyframes cloud-moving {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cloud-moving {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes cloud-moving2 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cloud-moving2 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes cloud-moving3 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cloud-moving3 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes gradually {
  from {
    opacity: 0;
    -webkit-filter: blur(2px) brightness(100%);
    filter: blur(2px) brightness(100%);
  }
  70% {
    opacity: 1;
    -webkit-filter: blur(5px) brightness(97.5%);
    filter: blur(5px) brightness(97.5%);
  }
  to {
    opacity: 0;
    -webkit-filter: blur(2px) brightness(100%);
    filter: blur(2px) brightness(100%);
  }
}
@keyframes gradually {
  from {
    opacity: 0;
    -webkit-filter: blur(2px) brightness(100%);
    filter: blur(2px) brightness(100%);
  }
  70% {
    opacity: 1;
    -webkit-filter: blur(5px) brightness(97.5%);
    filter: blur(5px) brightness(97.5%);
  }
  to {
    opacity: 0;
    -webkit-filter: blur(2px) brightness(100%);
    filter: blur(2px) brightness(100%);
  }
}
@keyframes gradually2 {
  from {
    filter: blur(0px);
  }
  50% {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

.p-catchphrase {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 1.9rem;
}

.p-footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-footer__copy {
  width: 20rem;
  text-align: center;
}
.p-footer .c-text-small {
  font-size: 0.6rem;
}

.p-gmenu .c-hamburger {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 1rem;
  z-index: 200;
}
.p-gmenu--inner {
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #FFF;
  left: 100%;
  position: absolute;
  z-index: 150;
  transition: all 400ms 0s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .p-gmenu--inner {
    height: 5rem;
    transition: all 0s 0s;
  }
}
.p-gmenu--inner.is-open {
  left: 60vw;
}
@media screen and (min-width: 1200px) {
  .p-gmenu--inner {
    width: unset;
    position: static;
  }
}
.p-gmenu--table {
  margin-top: 10rem;
  text-align: center;
}
.p-gmenu--table .p-gmenu__button .c-title--section {
  padding-top: 0;
}
.p-gmenu--table .p-gmenu__button::before {
  content: "＋";
  position: absolute;
  left: 10rem;
}
@media screen and (min-width: 820px) {
  .p-gmenu--table .p-gmenu__button::before {
    left: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .p-gmenu--table .p-gmenu__button::before {
    content: "";
    position: absolute;
    right: 20px;
  }
  .p-gmenu--table .p-gmenu__button.active::before {
    content: "";
  }
}
.p-gmenu--table .middle {
  display: none;
}
.p-gmenu--table.active {
  display: block;
}
.p-gmenu--table.active .p-gmenu__button::before {
  content: "－";
}
@media screen and (min-width: 1200px) {
  .p-gmenu--table.active .p-gmenu__button::before {
    content: "";
    position: absolute;
    right: 20px;
  }
  .p-gmenu--table.active .p-gmenu__button.active::before {
    content: "";
  }
}
@media screen and (min-width: 1200px) {
  .p-gmenu__list {
    margin: unset;
    padding: 1rem 1rem 0 0;
    display: flex;
  }
}
.p-gmenu__list .item {
  font-size: 1.6rem;
  display: block;
  width: 10rem;
}
.p-gmenu__list .item:hover .middle {
  height: 8rem;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .p-gmenu__list .item {
    text-align: center;
    padding-left: 2rem;
  }
}
.p-gmenu__list .item .title {
  color: #707070;
  z-index: 1000;
}
.p-gmenu__list .item .middle {
  z-index: 1200;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.p-gmenu__list .item .middle .title {
  font-size: 1.2rem;
  color: #000;
  line-height: 4rem;
  background-color: #FFF;
}
.p-gmenu__list .item .middle .title a:hover {
  text-decoration: none;
}
.p-gmenu__list .item3::before {
  content: "＋";
  position: absolute;
  left: 25vw;
}
.p-gmenu__list .item3.active::before {
  content: "－";
}
@media screen and (min-width: 1200px) {
  .p-gmenu__list .item3::before {
    content: "";
    position: absolute;
    right: 20px;
  }
  .p-gmenu__list .item3.active::before {
    content: "";
  }
}
.p-gmenu__list.in-table .item {
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  .p-gmenu .item1, .p-gmenu .item6, .p-gmenu .item7 {
    display: none;
  }
}

.p-header {
  width: 100%;
  position: fixed;
  display: flex;
  max-width: 1900px;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.6));
}
@media screen and (min-width: 1200px) {
  .p-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.p-header__logo {
  margin: auto;
  left: 48%;
  width: 50px;
  height: 50px;
}
.p-header__form {
  display: block;
  width: 15rem;
}
@media screen and (min-width: 1200px) {
  .p-header__form {
    width: 20rem;
  }
}
.p-header__form--text {
  width: 10rem;
}
@media screen and (min-width: 1200px) {
  .p-header__form--text {
    width: 14rem;
  }
}
.p-header__form--submit {
  margin-left: 0.3rem;
  padding: 0.22rem;
  width: 4.2rem;
  font-size: 0.8rem;
  line-height: 1rem;
}
@media screen and (min-width: 1200px) {
  .p-header__form--submit {
    width: 5.2rem;
  }
}
.p-header__background {
  transition: all 0s 0.3s;
  display: none;
}
.p-header__background.is-open {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
}
@media screen and (min-width: 1200px) {
  .p-header__background.is-open {
    display: none;
  }
}

.p-intro__logo img {
  width: 11rem;
}
.p-intro__logo .c-text--sentence {
  text-align: center;
  margin-top: -1rem;
}
.p-intro__button-special {
  position: relative;
  display: block;
  margin: 1rem;
  padding: 2rem 0 2rem 0;
}
.p-intro__button-special--wrap {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  margin: auto;
}
.p-intro__button-special--wrap:hover {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.1);
}

.p-modal-window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dfdddd;
  border-radius: 5px;
  z-index: 3000;
  padding: 2rem;
}
.p-modal-window--small {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dfdddd;
  border-radius: 5px;
  z-index: 3000;
  padding: 2rem;
}
.p-modal-window__button-open {
  margin: 0 auto;
}
.p-modal-window__button-close {
  margin: 2rem 2rem 1rem 2rem;
  width: 200px;
  padding: 1em;
  background-color: #c96931;
  color: #eaeaea;
  border-radius: 20rem;
  cursor: pointer;
}

.p-skill {
  margin-top: 10rem;
  padding: 0 2.5rem;
}
.p-skill .title {
  text-align: center;
}
.p-skill__site-building {
  padding-top: 1rem;
}
.p-skill__site-building .title {
  padding-bottom: 1rem;
}
.p-skill__cell .title {
  text-align: unset;
  padding-top: 1rem;
}
.p-skill__cell .cell {
  display: flex;
  flex-wrap: wrap;
}
.p-skill__cell .cell__li {
  padding-top: 1.5rem;
  width: 50%;
}
.p-skill__cell .cell__li .title {
  text-align: center;
  padding-top: unset;
}
.p-skill__cell .cell__li .img img {
  height: 75px;
  width: 75px;
  margin: auto;
}
.p-skill__cell .cell__li .hour {
  display: flex;
  justify-content: center;
}
.p-skill__cell .cell__li .hour__description {
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 0.5rem;
}
.p-skill__cell .cell__li .hour__length {
  font-size: 2rem;
}
.p-skill__cell .cell .detail {
  font-size: 0.8rem;
  text-align: center;
}
.p-skill__link {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem 2rem 5rem 2rem;
}

.p-page-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 1000;
  /*はじめは非表示*/
  /* opacity: 0; */
  /* transform: translateY(150px); */
}

/*　下に下がる動き　*/
.p-page-top.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
  animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(150px);
  }
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(150px);
  }
}
/*画像の切り替えと動き*/
.p-page-top-test {
  width: 100px;
  height: 100px;
}

.p-page-top a {
  /*aタグの形状*/
  display: block;
  width: 100px;
  height: 100px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  /*背景画像の指定*/
  background: url(../../../img/inoshishi_run1_negate.png) no-repeat center;
  background-size: contain;
}

.p-page-top.floatAnime a {
  width: 100px;
  height: 130px;
  /*背景画像の指定*/
  background-size: contain;
  /*アニメーションの指定*/
  animation: floatAnime 0.5s infinite;
}

@keyframes floatAnime {
  0% {
    background-image: url(../../../img/inoshishi_run1_negate.png);
  }
  19% {
    background-image: url(../../../img/inoshishi_run2_negate.png);
  }
  20% {
    background-image: url(../../../img/inoshishi_run3_negate.png);
  }
  90% {
    background-image: url(../../../img/inoshishi_run3_negate.png);
  }
  100% {
    background-image: url(../../../img/inoshishi_run1_negate.png);
  }
}
/*Page Topと書かれたテキストの位置*/
.p-page-top span {
  position: absolute;
  bottom: -20px;
  right: 20px;
  color: #666;
}

/*========= レイアウトのためのCSS ===============*/
.p-profile {
  margin-top: 13rem;
  padding: 0 2.5rem;
}
.p-profile .title {
  text-align: center;
}
.p-profile__date {
  display: flex;
}
.p-profile__date .nameAndAddress {
  width: 45vw;
}
.p-profile__date .nameAndAddress .name {
  display: inline-block;
}
.p-profile__date .nameAndAddress .address .c-title--content {
  padding-top: 0.2rem;
  margin-bottom: -0.5rem;
}
.p-profile__date .nameAndAddress .address .contact-link {
  display: inline-block;
  font-size: 0.75rem;
}
.p-profile__date .img {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-profile__date .img .img__child {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-size: cover;
  background-image: url(../../../../img/ape-g5b12a4480_1280.jpg);
}
.p-profile__infomation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 820px) {
  .p-profile__infomation {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .p-profile__infomation {
    flex-direction: column-reverse;
  }
}
.p-profile__infomation .self-introduction {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10rem;
}
@media screen and (min-width: 1200px) {
  .p-profile__infomation .self-introduction {
    height: unset;
  }
}
.p-profile__infomation .self-introduction .hidden {
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  .p-profile__infomation .self-introduction .hidden {
    display: none;
  }
}
.p-profile__infomation .self-introduction .c-text {
  display: none;
}
@media screen and (min-width: 1200px) {
  .p-profile__infomation .self-introduction .c-text {
    display: block;
  }
}
.p-profile__infomation .sns-link {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 820px) {
  .p-profile__infomation .sns-link {
    width: 40%;
    padding-top: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .p-profile__infomation .sns-link {
    width: 100%;
  }
}
.p-profile__infomation .sns-link .c-icon--sns {
  width: 3rem;
  height: 3rem;
}
@media screen and (min-width: 820px) {
  .p-profile__infomation .sns-link .c-icon--sns {
    width: 2rem;
    height: 2rem;
  }
}

.p-table-of-contents__title {
  width: 100%;
}
.p-table-of-contents__title::before {
  content: "＋";
  position: absolute;
  left: 9.5rem;
}
@media screen and (min-width: 820px) {
  .p-table-of-contents__title::before {
    left: 22rem;
  }
}
.p-table-of-contents__title.active::before {
  content: "－";
}
@media screen and (min-width: 1200px) {
  .p-table-of-contents__title::before {
    content: "";
    position: absolute;
    right: 20px;
  }
  .p-table-of-contents__title.active::before {
    content: "";
  }
}
.p-table-of-contents__ul {
  display: none;
}
.p-table-of-contents__li .item {
  font-size: 1rem;
}

.u-button-special {
  position: relative;
  display: block;
  font-size: 1.3rem;
  padding: 0.2rem 1.2rem;
  margin: auto;
  color: #fff;
  box-shadow: -2px -5px 8px -1px rgb(255, 255, 255) inset;
  filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  border-radius: 0.5rem;
  background-size: 200%;
  background-repeat: repeat;
  background-position: 0% 0%;
  background-image: linear-gradient(90deg, rgb(197, 125, 233), rgb(61, 200, 194), rgb(197, 125, 233), rgb(61, 200, 194), rgb(197, 125, 233));
  animation: button 1s ease-in-out infinite, Rainbow 7.5s infinite;
}
.u-button-special__img {
  position: absolute;
  left: 8.5rem;
  top: -0.2rem;
  rotate: 35deg;
  animation: poking 1s ease-in infinite;
}
@media screen and (min-width: 820px) {
  .u-button-special__img {
    left: 15rem;
  }
}

@keyframes button {
  from {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
  5% {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
  17.5% {
    border-bottom-width: 2px;
    transform: translateY(5px);
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
  }
  30% {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
  42.5% {
    border-bottom-width: 2px;
    transform: translateY(5px);
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
  }
  55% {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
  to {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
}
@keyframes Rainbow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes poking {
  from {
    rotate: 35deg;
  }
  11.5% {
    rotate: 35deg;
  }
  12.5% {
    rotate: 0deg;
  }
  25% {
    rotate: 0deg;
  }
  26% {
    rotate: 35deg;
  }
  36.5% {
    rotate: 35deg;
  }
  37.5% {
    rotate: 0deg;
  }
  50% {
    rotate: 0deg;
  }
  51% {
    rotate: 35deg;
  }
  to {
    rotate: 35deg;
  }
}
/*Foundation*/
/*Layout*/
/*Object*/
/*Component*/
/*Project*/
/*Utility*/