@charset "UTF-8";
main {
  height: 100vh;
}

li {
  list-style: none;
}

.c-bird {
  margin-top: 50vh;
  display: block;
  width: 357px;
  -webkit-animation: boundY 0.8s ease-in infinite alternate;
          animation: boundY 0.8s ease-in infinite alternate;
}
.c-bird-1 {
  position: relative;
  top: -20px;
  z-index: 100;
  opacity: 1;
  -webkit-animation: boundX 16s infinite;
          animation: boundX 16s infinite;
}
.c-bird-2 {
  position: absolute;
  top: -60px;
  left: 45px;
  opacity: 0;
  -webkit-animation: flapping1 1.6s 0.8s infinite, boundX 16s infinite;
          animation: flapping1 1.6s 0.8s infinite, boundX 16s infinite;
}
.c-bird-3 {
  position: absolute;
  top: 75px;
  left: 120px;
  opacity: 0;
  -webkit-animation: flapping2 1.6s 0.8s infinite, boundX 16s infinite, opposite 16s infinite;
          animation: flapping2 1.6s 0.8s infinite, boundX 16s infinite, opposite 16s infinite;
}
.c-bird__shadow {
  position: absolute;
  left: 130px;
  top: 1150px;
  bottom: -95px; /*対象のheightと微調節*/
  margin: auto;
  width: 60px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  filter: blur(6px);
  opacity: 0.9;
  -webkit-animation: shadow 16s infinite, shadow-extend 0.8s ease-in-out infinite alternate;
          animation: shadow 16s infinite, shadow-extend 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes flapping1 {
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flapping1 {
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flapping2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flapping2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes boundY {
  from {
    transform: translateY(0vw);
  }
  to {
    transform: translateY(30vw);
  }
}
@keyframes boundY {
  from {
    transform: translateY(0vw);
  }
  to {
    transform: translateY(30vw);
  }
}
@-webkit-keyframes boundX {
  from {
    transform: translateX(0vw) scale(1, 1);
  }
  49% {
    transform: translateX(80vw) scale(1, 1);
  }
  50% {
    transform: translateX(80vw) scale(-1, 1);
  }
  to {
    transform: translateX(0vw) scale(-1, 1);
  }
}
@keyframes boundX {
  from {
    transform: translateX(0vw) scale(1, 1);
  }
  49% {
    transform: translateX(80vw) scale(1, 1);
  }
  50% {
    transform: translateX(80vw) scale(-1, 1);
  }
  to {
    transform: translateX(0vw) scale(-1, 1);
  }
}
@-webkit-keyframes opposite {
  from {
    left: 120px;
    top: 75px;
  }
  49% {
    left: 120px;
    top: 75px;
  }
  50% {
    left: -50px;
    top: 25px;
  }
  to {
    left: -50px;
    top: 25px;
  }
}
@keyframes opposite {
  from {
    left: 120px;
    top: 75px;
  }
  49% {
    left: 120px;
    top: 75px;
  }
  50% {
    left: -50px;
    top: 25px;
  }
  to {
    left: -50px;
    top: 25px;
  }
}
@-webkit-keyframes shadow {
  from {
    transform: translateX(0vw) scale(1, 1);
    filter: blur(4px);
  }
  49% {
    transform: translateX(80vw) scale(1, 1);
    filter: blur(4px);
  }
  50% {
    transform: translateX(80vw) scale(1, 1);
    filter: blur(4px);
  }
  to {
    transform: translateX(0vw) scale(1, 1);
    filter: blur(4px);
  }
}
@keyframes shadow {
  from {
    transform: translateX(0vw) scale(1, 1);
    filter: blur(4px);
  }
  49% {
    transform: translateX(80vw) scale(1, 1);
    filter: blur(4px);
  }
  50% {
    transform: translateX(80vw) scale(1, 1);
    filter: blur(4px);
  }
  to {
    transform: translateX(0vw) scale(1, 1);
    filter: blur(4px);
  }
}
@-webkit-keyframes shadow-extend {
  from {
    width: 100px;
    height: 50px;
    filter: blur(4px);
  }
  to {
    width: 150px;
    height: 50px;
    filter: blur(8px);
  }
}
@keyframes shadow-extend {
  from {
    width: 100px;
    height: 50px;
    filter: blur(4px);
  }
  to {
    width: 150px;
    height: 50px;
    filter: blur(8px);
  }
}
/*# sourceMappingURL=style.css.map */