@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.u-button-special {
  position: relative;
  display: block;
  font-size: 1.3rem;
  padding: 0.2rem 1.2rem;
  margin: auto;
  color: #fff;
  background-color: #0190EE;
  border-radius: 0.5rem;
  img {
    position: absolute;
    left: 7.5rem;
    top: -2rem;
    rotate: 35deg;
    animation: poking 1.5s infinite;
  }
}

@keyframes poking {
  from {
    rotate: 35deg;
  }
  12.4% {
    rotate: 35deg;
  }
  12.5% {
    rotate: 0deg;
  }
  15% {
    rotate: 0deg;
  }
  16% {
    rotate: 35deg;
  } 
  17% {
    rotate: 35deg;
  } 
  25% {
    rotate: 0deg;
  }
  27.5% {
    rotate: 0deg;
  }
  28.5% {
    rotate: 35deg;
  }
  to {
    rotate: 35deg;
  }
}