@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-gmenu {
  position: relative;
  .c-hamburger {
    width           : 60px;
    height          : 60px;
    position        : absolute;
    right: 1rem;
    z-index: 200;
  }
  &--inner{
    top: 0;
    height: 100vh;   
    width: 100%;  
    background-color: v.$BackgroundWhite;
    left: 100%;
    position: absolute;
    z-index: 150;
    overflow: hidden;
    transition: all 400ms 0s ease-in-out;
    @include m.mq (screen03) {
      height: 5rem;
      transition: all 0s 0s;
    }
    &.is-open {
      left: 60vw;
    }
    @include m.mq(screen03) {
      width: unset;
      position: static;
    } 
  }
  &__list {
    @include m.mq (screen03) {
      margin: unset;
      padding: 1rem 1rem 0 0;
      display: flex;
  }
   .item {
    font-size: 1.6rem;
    display: block;
    width: 10rem;
    @include m.mq (screen03) {
      text-align: center;
      padding-left: 2rem;
    }
    .title {
        color: v.$MenuBlack;
        position: absolute;
        z-index: 1000;
      }
    }
  }
  .middle {
    .title {
      font-size: 1.2rem;
      color: v.$TextBlack;
      line-height: 4rem;
    }
  }
  .item1, .item6, .item7 {
    @include m.mq (screen03) {
      display: none;
    }
  }
}