@use "../../Foundation/mixin" as m;

.p-gmenu {
  position: relative;
  margin-block-start: unset;
  &--inner{
    > li {
      width: 100vw;
      height: 100vh;      
    }
  }
  &__list {
    position: fixed;
    background-color: #fff;
    left: 100vw;
    top: 0;
    overflow: hidden;
    transition: all 400ms 0s ease-in-out;
    li {
      padding-left: 2rem;
    }
    &.is-open {
      left: 60vw;
    }
    @include m.mq(screen03) {
      position: static;
      padding: 5rem 1rem 0 0;
      display: flex;
      .item1, .item6, .item7 {
        display: none;
      }
    } 
  }
}