.c-to-top {
  .-image1 {
    position: relative;
    opacity: 1;
  }
  .-image2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .-image3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes run1 {
  from {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}


@keyframes run2 {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}


@keyframes run3 {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

