@use "../Foundation/mixin" as m;
@use "../Foundation/variable" as v;

.l-main {
  position: absolute;
  margin-top: 10rem;
  z-index: 500;
  width: 50vw;
  top: 0;
  left: 25%;

  @include m.mq (screen02) {
    width: 400px;
  }
}

