@use "../Foundation/mixin" as m;

.l-header {
  &__upper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 2rem 10vw 0 10vw;
    @include m.mq (screen03) {
      margin-right: 70%;
    }
  }
}