@use "../Foundation/mixin" as m;
@use "../Foundation/variable" as v;

.l-main {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10000px;
  width: 375px;

  background-color: rgba(0, 0, 0, 0.4);
  @include m.mq (screen02) {
    width: 400px;
  }
}

