@use "../../../Foundation/variable" as v;

.c-title {
  &--section {
    color: v.$TitleBlown;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  &--content {
    font-size: 1.2rem;
  }
  &--sentence {
    
  }
}