@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-animation-background {

  overflow: hidden;
  height: 3076px;
  max-width: 1920px;
  &__layer {
    position: relative;
    margin-left: calc(calc(100% - 1900px) * 0.5);
    transition: all 1s ease-in;
    .layer-1 {
      position: absolute;
      display: block;
      width: 1920px;
      height: 3076px;
      background-size: cover;
      background-image: url(../../../img/yama-base.jpg);
      background-position: center;
      z-index: 200;
    }
    .layer-2 {
      position: absolute;
      display: block;
      width: 1585px;
      height: 681px;
      background-size: cover;
      background-image: url(../../../img/yama-front@0.75x.png);
      background-position: center;
      z-index: 200;
      &.lower {
        /* margin-top: 2360px; */ 
        transition: 0.5s;
      }
      &.upper {
        /* margin-top: 2692px; */ 
        transition: 0.5s;
      }
    }
    .layer-4 {
      position: absolute;
      height: 500px;
      width: 500px;
      top: 1450px;
      left: 500px;
      background-image: url(../../../img/cloud-single.png);
      display: block;
      z-index: 300;
      opacity: 1;
      animation: gradually2 15s ease-in-out infinite;
    }
    .layer-5 {
      position: absolute;
      top: 1720px;
      left: 190px;
      background-image: url(../../../img/名称未設定\ 2\ \(2\).png);
      display: block;
      height: 500px;
      width: 1500px;
      z-index: 300;
      opacity: 1;
      background-repeat: no-repeat;
      filter: blur(2px) brightness(100%);
      animation: gradually 24s ease-in-out infinite;
    }
    .layer-6 {
      position: absolute;
      top: 2300px;
      left: 2000px;
      background-color: rgba(255, 255, 255, 0.1);
              filter: blur(10px) brightness(100%);
      display: block;
      height: 150px;
      width: 100px;
      transform: skew(142deg, 23deg);
      z-index: 300;
              animation: sun-light 18s 0s ease-out infinite;
    }
    .layer-7 {
      position: absolute;
      top: 2300px;
      left: 1800px;
      background-color: rgba(255, 255, 255, 0.1);
              filter: blur(10px) brightness(100%);
      display: block;
      height: 150px;
      width: 100px;
      transform: skew(142deg, 23deg);
      z-index: 300;
              animation: sun-light2 14.4s 0s ease-out infinite;
    }
    .layer-8 {
      position: absolute;
      top: 2300px;
      left: 1600px;
      background-color: rgba(255, 255, 255, 0.1);
              filter: blur(10px) brightness(100%);
      display: block;
      height: 150px;
      width: 100px;
      transform: skew(142deg, 23deg);
      z-index: 300;
              animation: sun-light3 10.8s 0s ease-out infinite;
    }
  }
  &__child {
    position: relative;
    .layer-9 {
      position: absolute;
      top: 5rem;
      left: 30%;
      width: 10rem;
      height: 10rem;
      background-size: cover;
      background-image: url(../../../img/cloud-highest.png);
      z-index: 400;
      transition: all 4S 0s ease-in-out;
      @include m.mq (screen02) {
        left: 40%;
      }
    }
    .layer-10 {
      position: absolute;
      display: block;
      top: 30vh;
      left: -45%;
      width: 30rem;
      height: 16rem;
      background-size: cover;
      background-image: url(../../../img/cloud-middle-flont.png);
      background-repeat: no-repeat;
      z-index: 400;
      opacity: 1;
      transition: left 8S 0s ease-in-out;
      &.fixed {
        position:fixed;
        left:-45%;
        top:30vh;
    }
      @include m.mq (screen02) {
        left: 5%;
      }
      @include m.mq (screen03) {
        left: 10%;
      }
    }
    .layer-11 {
      position: absolute;
      display: block;
      left: 40%;
      width: 60rem;
      height: 30rem;
      background-size: cover;
      background-image: url(../../../img/cloud-middle2.png);
      z-index: 300;
      transition: left 8S 0s ease-in-out;
      &.fixed {
        position:fixed;
        left: -45%;
    }
      @include m.mq (screen02) {
        left: 25%;
      }
    }
  }
  
  @-webkit-keyframes sun-light {
    from {
      left: 2000px;
      opacity: 1;
      width: 100px;
      transform: skew(142deg, 23deg);
    }
    90% {
      opacity: 0.7;
    }
    to {
      left: 1000px;
      opacity: 0;
      width: 50px;
      transform: skew(120deg, 23deg);
    }
  }
  
  @keyframes sun-light {
    from {
      left: 2000px;
      opacity: 1;
      width: 100px;
      transform: skew(142deg, 23deg);
    }
    90% {
      opacity: 0.7;
    }
    to {
      left: 1000px;
      opacity: 0;
      width: 50px;
      transform: skew(120deg, 23deg);
    }
  }
  @-webkit-keyframes sun-light2 {
    from {
      left: 1800px;
      opacity: 1;
      width: 100px;
      transform: skew(142deg, 23deg);
    }
    90% {
      opacity: 0.7;
    }
    to {
      left: 1000px;
      opacity: 0;
      width: 50px;
      transform: skew(120deg, 23deg);
    }
  }
  @keyframes sun-light2 {
    from {
      left: 1800px;
      opacity: 1;
      width: 100px;
      transform: skew(142deg, 23deg);
    }
    90% {
      opacity: 0.7;
    }
    to {
      left: 1000px;
      opacity: 0;
      width: 50px;
      transform: skew(120deg, 23deg);
    }
  }
  @-webkit-keyframes sun-light3 {
    from {
      left: 1600px;
      opacity: 1;
      width: 100px;
      transform: skew(142deg, 23deg);
    }
    90% {
      opacity: 0.7;
    }
    to {
      left: 1000px;
      opacity: 0;
      width: 50px;
      transform: skew(120deg, 23deg);
    }
  }
  @keyframes sun-light3 {
    from {
      left: 1600px;
      opacity: 1;
      width: 100px;
      transform: skew(142deg, 23deg);
    }
    90% {
      opacity: 0.7;
    }
    to {
      left: 1000px;
      opacity: 0;
      width: 50px;
      transform: skew(120deg, 23deg);
    }
  }
  @-webkit-keyframes cloud-moving {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes cloud-moving {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes cloud-moving2 {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes cloud-moving2 {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes cloud-moving3 {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes cloud-moving3 {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes gradually {
    from {
      opacity: 0;
      -webkit-filter: blur(2px) brightness(100%);
              filter: blur(2px) brightness(100%);
    }
    70% {
      opacity: 1;
      -webkit-filter: blur(5px) brightness(97.5%);
              filter: blur(5px) brightness(97.5%);
    }
    to {
      opacity: 0;
      -webkit-filter: blur(2px) brightness(100%);
              filter: blur(2px) brightness(100%);
    }
  }
  @keyframes gradually {
    from {
      opacity: 0;
      -webkit-filter: blur(2px) brightness(100%);
              filter: blur(2px) brightness(100%);
    }
    70% {
      opacity: 1;
      -webkit-filter: blur(5px) brightness(97.5%);
              filter: blur(5px) brightness(97.5%);
    }
    to {
      opacity: 0;
      -webkit-filter: blur(2px) brightness(100%);
              filter: blur(2px) brightness(100%);
    }
  }
  @keyframes gradually2 {
    from {
      filter: blur(0px);
    }
    50% {
      filter: blur(5px);
    }
    to {
      filter: blur(0px);
    }
  }
}