.p-page-top {
  position: fixed;
  right: 10px;
  bottom:30px;
  z-index: 1000;
    /*はじめは非表示*/
  /* opacity: 0; */
  /* transform: translateY(150px); */
}


/*　下に下がる動き　*/
.p-page-top.DownMove{
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(150px);
  }
}

@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
.p-page-top-test {
  width: 100px;
  height: 100px;
}

.p-page-top a {
    /*aタグの形状*/
  display: block;
  width: 100px;
  height: 100px;
  color: #333;
  text-align: center;
  text-transform: uppercase; 
  text-decoration: none;
  font-size:0.6rem;
    /*背景画像の指定*/
  background: url(../../../img/inoshishi_run1_negate.png) no-repeat center;
  background-size: contain;
}

.p-page-top.floatAnime a{
  width: 100px;
  height: 130px;
    /*背景画像の指定*/
  background-size: contain;
    /*アニメーションの指定*/
  animation: floatAnime 0.5s infinite;
}

@keyframes floatAnime {
  0% { background-image: url(../../../img/inoshishi_run1_negate.png); }
  19% { background-image: url(../../../img/inoshishi_run2_negate.png); }
  20% {background-image: url(../../../img/inoshishi_run3_negate.png); 
  }
  90% {background-image: url(../../../img/inoshishi_run3_negate.png); 
  }
  100% {background-image: url(../../../img/inoshishi_run1_negate.png); 
  }
}

/*Page Topと書かれたテキストの位置*/
.p-page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
  color: #666;
}

/*========= レイアウトのためのCSS ===============*/
