.p-profile {
  margin-top: 13rem;
  .title {
    text-align: center;
  }
  &__date {
    display: flex;
    flex-direction: column-reverse;
    .img {
      margin: auto;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background-size: cover;
      background-image: url(../../../../img/ape-g5b12a4480_1280.jpg);
    }
  }
}
.nameAndAddress {
}