@use "../../Foundation/mixin" as m;

.p-profile {
  margin-top: 13rem;
  padding: 0 2.5rem;
  .title {
    text-align: center;
  }
  &__date {
    display: flex;
    .nameAndAddress {
      width: 45vw;
      .name {
        display: inline-block;
      }
      .address {
        .c-title--content {
          padding-top: 0.2rem;
          margin-bottom: -0.5rem;
        }
        .contact-link {
          display: inline-block;
          font-size: 0.75rem;
        }
      }
    }
    .img {
      width: 45vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .img__child {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-size: cover;
        background-image: url(../../../../img/ape-g5b12a4480_1280.jpg);
      }
    }
  }
  &__infomation {
    display: flex;
    flex-direction: column;
    justify-content: space-between; @include m.mq(screen02) {
      flex-direction: row-reverse;
    }
    @include m.mq(screen03) {
      flex-direction: column-reverse;
    }
    .self-introduction {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 10rem;
      @include m.mq(screen03) {
        height: unset;
      }
      .hidden {
        font-size: 1rem;
        @include m.mq(screen03) {
          display: none;
        }
      }
      .c-text {
        display: none;
        @include m.mq(screen03) {
          display: block;
        }
      }
    }
    .sns-link {
      display: flex;
      justify-content: space-around;
      padding-bottom: 1.5rem;
      @include m.mq(screen02) {
        width: 40%;
        padding-top: 3.5rem;
      }
      @include m.mq(screen03) {
        width: 100%;
      }

      .c-icon--sns {
        width: 3rem;
        height: 3rem;
        @include m.mq(screen02) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}