@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.u-button-special {
  position: relative;
  display: block;
  font-size: 1.3rem;
  padding: 0.2rem 1.2rem;
  margin: auto;
  color: #fff;
  box-shadow: -2px -5px 8px -1px rgb(255 255 255) inset;
  filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  border-radius: 0.5rem;
  background-size: 200%;
  background-repeat: repeat;
  background-position: 0% 0%;
  background-image: linear-gradient(90deg, rgba(197, 125, 233, 1), rgba(61, 200, 194, 1),rgba(197, 125, 233, 1), rgba(61, 200, 194, 1),rgba(197, 125, 233, 1));
  animation: button 1s ease-in-out infinite, Rainbow 7.5s infinite;

  &__img {
    position: absolute;
    left: 8.5rem;
    top: -0.2rem;
    rotate: 35deg;
    animation: poking 1s ease-in infinite;
    @include m.mq(screen02) {
      left: 15rem;
    }
  }
}

@keyframes button {
  from {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
  5% {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
  17.5% {
    border-bottom-width: 2px;
    transform: translateY(5px);
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
  }

  30% {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  } 
  42.5% {
    border-bottom-width: 2px;
    transform: translateY(5px);
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
  }
  55% {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }
  to {
    border-bottom-width: 4px;
    transform: translateY(0px);
    filter: drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.5));
  }

}
@keyframes Rainbow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes poking {
  from {
    rotate: 35deg;
  }
  11.5% {
    rotate: 35deg;
  }
  12.5% {
    rotate: 0deg;
  }
  25% {
    rotate: 0deg;
  }
  26% {
    rotate: 35deg;
  } 
  36.5% {
    rotate: 35deg;
  } 
  37.5% {
    rotate: 0deg;
  }
  50% {
    rotate: 0deg;
  }
  51% {
    rotate: 35deg;
  }
  to {
    rotate: 35deg;
  }
}